@import "homepage";
.custom-navbar {
    background-color: #464646;
}

.nav-links {
    text-align: end;
}

body {
    background: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.blog-title {
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.header-class {
    background: #000000;
}

.head-image {
    border-radius: 50%;
    border-color: #fff9a5 2px;
    border-style: solid;
    border-width: 2px;
}

.site-title {
    font-family: 'Righteous', cursive;
}

.the-title {
    text-align: start;
}

.content-box {
    margin: 24px 92px 0px 92px;
}

.blog-box {
    background-color: #e2d3d3;
    margin: 12px;
    margin-left: 128px;
    margin-right: 64px;
    border-radius: 3px;
    padding: 12px;
}

footer {
    background-color: #2f5870;
    color: #ffffff;
    padding: 12px;
    margin-top: 24px;
}