@import "homepage";
@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Bitter');

$title-font: 'Bitter', serif;

h1,h2,h3,h4,h5,h6{
    font-family: $title-font;
}

.custom-navbar {
    background-color: #464646;
}

.nav-links {
    text-align: end;
}

body {
    background: #000000;
    color: #ffffff;
}

.blog-title {
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.header-class {
    background: #000000;
}

.head-image {
    border-radius: 50%;
    border-color: #fff9a5 2px;
    border-style: solid;
    border-width: 2px;
}

.site-title {
    font-family: 'Righteous', cursive;
}

.the-title {
    text-align: start;
}

.content-box {
    margin: 24px 92px 1px 92px;
}

footer {
    background-color: #2f5870;
    color: #ffffff;
    padding: 12px;
    margin-top: 24px;
}

a{
    color: #ffffff !important;
    text-decoration: none;
}

// Archivo
.proj-link-box{
    height:192px;
    overflow: hidden;
    transition: 0.4s;
    position: relative;
}

.proj-link-box:hover{
    height:256px;
    overflow: hidden;
}

.proj-link-image{
    opacity: 0.8;
    transition: 0.8s;
}

.proj-link-image:hover{
    opacity: 0.3;
}

.proj-link-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Proyecto
.project-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

@media (min-width: 576px) {
    .project-title {
        font-size: 92px;
      }
}

.title-container{
    position: relative;
    text-align: center;
}

.proyecto-box{
    overflow: hidden;
    max-height: 384px;
}

.proyecto-image{
    opacity: 0.5;
}